.panal-option-container {
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  .logo {
    background-color: #303641;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      cursor: pointer;
      color: #b8c7ce;
      margin-bottom: 10px;
    }
    .toggle {
      cursor: pointer;
      width: fit-content;
      height: fit-content;
      svg {
        color: #b8c7ce;
        transform: rotate(90deg);
      }
    }
  }
  .ulOpen {
    height: 100vh;
  }
  ul {
    background-color: #303641;
    list-style: none;
    background-color: #303641;
    position: absolute;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    li {
      display: flex;
      align-items: center;
      svg {
        color: #b8c7ce;
      }
      .link {
        background-color: #303641;

        cursor: pointer;
        text-decoration: none;
        color: #b8c7ce;
        padding: 15px 20px;
        width: 100%;
        display: block;
        box-sizing: border-box;
      }
    }
    .toggle-product {
      .products-from-admin {
        height: max-content;
        ul {
          height: 90px;
          // opacity: 0;
          transition: 0.3s ease-in-out;

          li {
            .sub-link {
              cursor: pointer;
              text-decoration: none;
              color: #b8c7ce;
              padding: 15px 20px;
              width: 100%;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
