.reset-password-container {
  width: 99.9vw;
  height: 99.8vh;
  background-color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  .reset-password {
    padding: 20px 80px;
    width: 600px;
    height: 650px;
    box-sizing: border-box;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    .close-resetpass-tab {
      cursor: pointer;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 10px;
      transition: 0.2s ease-in-out;
      .line {
        width: 15px;
        height: 1.5px;
        background-color: #000000;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
      }
      .line1 {
        transform: rotate(45deg);
      }
      .line2 {
        transform: rotate(-45deg);
      }
      &:hover {
        background-color: #e7e7e8;
      }
    }
    h3 {
      text-align: center;
    }
    form {
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .showpass {
        cursor: pointer;
      }
      button {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .reset-password-container {
    height: 101vh;
    overflow-x: hidden;
    .reset-password {
      width: 90%;
    }
  }
}
